@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

:root {
  --text-primary: #e95a08;
  --text-secondary: rgba(0, 0, 0, 0.5);
  --text-dark: #111111;
  --text-nav-dark: #252432;
  --text-nav-gray: #8987a1;
  --text-white: #ffffff;
  --text-black: #000000;
  --bg-primary: #f5f8ff;
  --bg-gray: rgba(0, 0, 0, 0.1);
  --bg-dark: rgba(0, 0, 0, 0.4);
}

body {
  background-color: var(--bg-primary);
  max-width: 1440px;
  margin: 0 auto;
}

header {
  max-width: 1140px;
  margin: 0 auto;
}

main {
  max-width: 1440px;
  margin: 120px auto 0;
}

/* Shared Styles */

.display-flex {
  display: flex;
}

.display-hidden {
  display: none;
}

.hide-in-mobile {
  display: block;
}

.text-black {
  color: var(--text-black);
}

.text-primary {
  color: var(--text-primary);
}

.text-center {
  text-align: center;
}

.btn-primary {
  background-color: var(--text-primary);
  color: white;
  font-size: 1rem;
  font-weight: 550;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  border: none;
  cursor: pointer;
  transition: color 0.5s ease, background-color 0.5s ease, transform 0.5s ease;
}

.btn-subscribe {
  background-color: var(--text-primary);
  color: white;
  font-size: 1rem;
  font-weight: 550;
  text-align: center;
  padding: 15px 0;
  border: none;
  cursor: pointer;
  transition: color 0.5s ease, background-color 0.5s ease, transform 0.5s ease;
  width: 22.5%;
}

.btn-primary:hover,
.btn-subscribe:hover {
  background-color: #1a7e6c;
  color: black;
  transform: scale(1.01);
}

/* Navbar Styles */

.navbar {
  justify-content: space-between;
  margin-top: 1.87rem;
  align-items: center;
}

.nav-links {
  list-style: none;
  gap: 48px;
}

.nav-link {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.text-nav-dark {
  font-weight: 700;
  color: var(--text-nav-dark);
}

.text-nav-gray {
  color: var(--text-nav-gray);
}

/* Banner Hero Section Style */
.banner {
  margin: 120px 0 0;
  justify-content: space-between;
  align-items: flex-end;
  height: 461px;
}

.banner-text {
  margin: 0 auto;
}

.banner-img-container {
  margin-top: 1px;
}

.banner-heading {
  font-family: "Noto Serif", serif;
  font-size: 4rem;
  font-weight: 700;
  margin: 13px 0;
}

.banner-description {
  font-family: "Inter", sans-serif;
  color: var(--text-secondary);
  font-size: 1.375rem;
  margin: 0;
}

/* Shop Section Styles */

.shop {
  max-width: 1140px;
  margin: 0 auto;
}

.shop-text {
  margin: 0 0 20px;
}

.shop-heading {
  font-family: "Noto Serif", serif;
  font-size: 3.125rem;
  font-weight: 700;
  color: black;
  margin: 0 0;
}

.shop-description {
  font-family: "Inter", sans-serif;
  font-size: 1.375rem;
  margin: 0 7.875rem;
  color: var(--text-secondary);
}

/* Card Related style */

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0;
}

.card {
  margin: 30px 0 0;
  max-width: 480px;
}

.card-img-container {
  width: 100%;
}

.card-img {
  width: 100%;
}

.plant-name {
  font-size: 1.375rem;
  font-weight: 550;
  margin: 30px auto 0px;
}

.price {
  font-size: 1.375rem;
  font-weight: 700;
  margin: 16px auto 30px;
}

/* Plants Lover Style */
.plants-lover {
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 210px;
  justify-content: space-between;
  gap: 60px;
}

.plant-lover-text-container {
  margin: auto 0;
}

.plant-lover-heading {
  font-family: "Noto Serif", serif;
  font-size: 3.125rem;
  font-weight: 700;
  color: black;
  margin: 0 0;
}

.plant-lover-description {
  font-family: "Inter", sans-serif;
  font-size: 1.375rem;
  color: var(--text-secondary);
}

.plant-lover-description li {
  margin-bottom: 20px;
}

.trust-badge-wrapper {
  position: absolute;
  width: 286px;
  margin: -728px 347px;
  filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.25));
}

.trust-badge {
  width: 100%;
  animation: spin 20s linear infinite;
}

/* Latest Deals Section Style */
.latest-deals {
  max-width: 1140px;
  margin: 0 auto;
}

.latest-deals-text {
  max-width: 888px;
  margin: 133px auto 0;
}

.latest-deals-heading {
  font-family: "Noto Serif", serif;
  font-size: 3.125rem;
  font-weight: 700;
  color: black;
  margin: 0 0 16px;
}

.latest-deals-description {
  font-family: "Inter", sans-serif;
  font-size: 1.375rem;
  margin: 0 0 80px;
  color: var(--text-secondary);
}

/* Deals section image grid styles */
.deals-container {
  margin: 0;
  padding: 0;
}

.deal-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  max-width: 900px;
  margin: auto;
  padding: 20px;
  background: #f5f8ff;
  border-radius: 12px;
}

.deal-column {
  display: grid;
  gap: 20px;
}

.deal-card {
  position: relative;
  border-radius: 12px;
  color: #fff;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.deal-card.zabo {
  height: 100%;
  min-height: 320px;
}

.deal-content {
  text-align: center;
  padding: 10px 20px;
  border-radius: 8px;
}

.mini-heading {
  font-family: "Noto Serif", serif;
  color: var(--text-white);
  font-size: 1.25rem;
  margin-bottom: 10px;
  font-weight: 700;
}

.mini-link {
  font-size: 1rem;
  color: var(--text-white);
  text-decoration: underline;
  font-weight: 550;
}

.large-heading {
  font-family: "Noto Serif", serif;
  color: var(--text-white);
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: 700;
}

.large-link {
  font-size: 1.75rem;
  color: var(--text-white);
  text-decoration: underline;
  font-weight: 550;
}

/* Background images in deal section */
.bloom {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../assets/deal-bloom.png);
}

.ana {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../assets/deal-ana.png);
}

.zabo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../assets/deal-zabo.png);
}

/* Subscribe Section */

.subscribe {
  width: 100%;
  height: 533px;
  display: inline-block;
  margin-top: 120px;
  background-image: linear-gradient(rgba(7, 51, 79, 0.4), rgba(7, 51, 79, 0.4)),
    url(../assets/news-letter-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-clip: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-container {
  max-width: 830px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-form input[type="email"] {
  width: 77.5%;
  padding: 15px 20px;
}

.subscribe-form input[type="email"]::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.subscribe-heading {
  font-family: "Noto Serif", serif;
  font-size: 3.125rem;
  font-weight: 700;
  color: white;
  margin: 0 0 23px;
  padding: 0 122px;
}

/* Footer Styles */
footer {
  max-width: 1120px;
  margin: 0 auto;
  padding: 50px 0;
}

.footer-container {
  justify-content: space-between;
}

.footer-logo-container {
  max-width: 360px;
}

.social-logo-container {
  gap: 24px;
}

.footer-text {
  font-family: "Inter", sans-serif;
  color: var(--text-secondary);
  font-size: 1.375rem;
  margin: 0;
}

.footer-links ul {
  list-style: none;
}

.footer-links li {
  margin-bottom: 32px;
}

.footer-links a {
  text-decoration: none;
  font-size: 1rem;
  color: #6b7280;
}

.social-logo {
  height: 36px;
  width: 36px;
}

/* Responsive for mobile devices */
@media screen and (width <= 576px) {
  .hide-in-mobile {
    display: none;
  }

  .navbar {
    margin: 13px 16px 0px;
  }

  .banner {
    flex-direction: column-reverse;
    margin: 30px 0 0;
    height: auto;
  }

  .brand {
    width: 18%;
  }

  .banner-img {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .banner-img-container {
    padding: 0;
    margin: 0;
  }

  .banner-text {
    margin: 0;
    padding: 0 16px;
  }

  .banner-heading {
    font-size: 1.5rem;
    margin-top: 28px;
  }

  .banner-description {
    font-size: 0.875rem;
  }

  main {
    margin: 65px auto 0;
  }

  .shop {
    margin: 0 16px;
  }

  .shop-text {
    margin: 0;
    padding: 0;
  }

  .shop-heading {
    font-size: 1.5rem;
  }

  .shop-description {
    font-size: 0.875rem;
    margin: 0;
    padding: 0 16px;
  }

  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    margin: 30px 0 0;
  }

  .plant-name {
    font-size: 1rem;
  }

  .price {
    font-size: 1rem;
    margin: 10px auto 30px;
  }

  .btn-primary {
    padding: 15.5px 0;
  }

  /* Plants Lover Style */
  .plants-lover {
    flex-direction: column;
    margin: 0 16px;
    padding-top: 41.5px;
    gap: 18px;
  }

  .plant-lover-img {
    width: 100%;
  }

  .plant-lover-text-container {
    margin: auto 0;
  }

  .plant-lover-heading {
    font-size: 1.5rem;
  }

  .plant-lover-description {
    font-size: 0.875rem;
    padding-left: 25px;
  }

  .plant-lover-description li {
    margin-bottom: 16px;
  }

  .trust-badge-wrapper,
  .trust-badge {
    display: none;
  }

  /* Subscribe related styles */

  .btn-subscribe {
    width: 32.1%;
  }

  .subscribe-form input[type="email"] {
    width: 67.9%;
  }

  .subscribe {
    max-height: 280px;
    margin-top: 40px;
  }

  .subscribe-container {
    width: calc(100% - 72px);
  }

  .subscribe-form {
    width: 100%;
  }

  .subscribe-heading {
    font-size: 1.25rem;
    margin-bottom: 23px;
    padding: 0 0px;
  }

  /* Footer Styles */
  footer {
    padding: 50px 0;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-logo-container {
    max-width: 100%;
    margin: 0 40px;
  }

  .social-logo-container {
    margin: 0 40px;
  }

  .footer-text {
    font-size: 1rem;
    margin: 16px 0 20px;
  }

  #no-gap {
    margin-bottom: 0px;
  }

  /* Latest Deals Section Style */

  .latest-deals-text {
    margin: 50px 28.5px 0;
  }

  .latest-deals-heading {
    font-size: 1.5rem;
  }

  .latest-deals-description {
    font-size: 0.875rem;
    margin: 0 0 35px;
  }

  /* deal section image responsive */

  .mini-heading,
  .large-heading {
    font-size: 1.25rem;
  }

  .mini-link,
  .large-link {
    font-size: 1rem;
    margin-top: 10px;
  }

  .deal-grid {
    grid-template-columns: 1fr;
  }

  .deal-column {
    display: grid;
  }

  .deal-card.zabo {
    min-height: 150px;
  }
}

/* Keyframes */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
